<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
    <display-name>lifestyle</display-name>
 	<context-param>
		<param-name>daoLocation</param-name>
		<param-value>classpath:dao.xml</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
		classpath:META-INF/server/wink-core-context.xml
		classpath:applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>com.hdsx.dao.listener.DaoInitListener</listener-class>
	</listener>
	<!-- 配置Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- 配置-->
	<!-- <listener>
		<listener-class>com.hdsx.hnjcfx.utils.FreemarkerListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.hdsx.hnjcfx.utils.AdddataListener</listener-class>
	</listener> -->
		<!-- 设置连接的编码方式 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>struts</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>restService</servlet-name>
		<servlet-class>
			org.apache.wink.server.internal.servlet.RestServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>restAdmin</servlet-name>
		<servlet-class>org.apache.wink.server.internal.servlet.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>restService</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>restAdmin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
			<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
